﻿@model IEnumerable<ChannelEngine.Core.ChannelEngineServices.ProductService.Models.Product>

@{
    ViewData["Title"] = "TopFiveSoldProductsDesc";
}

<h1>TopFiveSoldProductsDesc</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MerchantProductNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantProductNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <form asp-action="Restock">
                    <input type="hidden" name="id" id="id" value="@item.MerchantProductNo">
                    <input type="submit" value="Restock" class="btn btn-primary" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
